[Unit]
Description=Homa Fibaro Device Mapper

[Service]
User=homa
EnvironmentFile=/home/homa/environment.config
ExecStart=/usr/local/bin/node /home/homa/homa-fibaro/homa-fibaro.js --brokerHost $BROKER
Restart=always

[Install]
WantedBy=multi-user.target

